<app-home></app-home>

<ul
  class="list-group list-group-flush text-center"
  *ngIf="reservationList1.length; else noRes"
>
  <h1 class="display-6 text-center">Reservation List</h1>
  <li class="list-group-item" *ngFor="let i of reservationList1">
    Name: {{ i.NameInput }} <br />
    Email: {{ i.EmailInput }} <br />
    Check In Date: {{ i.CheckInDate }} <br />
    Check Out Date: {{ i.CheckOutDate }} <br />
    <button [routerLink]="['/edit', i.id]" class="btn btn-primary mx-2">
      Edit
    </button>
    <button (click)="deleteReservation(i.id)" class="btn btn-danger mx-2">
      Delete
    </button>
  </li>
</ul>

<ng-template #noRes>
  <h4 class="display-4 text-center text-danger">No Reservation</h4>
</ng-template>
